<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>


<form action="/check" method="get">
输入昵称：
	<input type="text" id='username' name="username" />
	<input type="submit" id='btn' value="进入聊天室" />
	</form>
</body>
</html>