<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/signin.css' />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script type="text/javascript" src='/js/jquery-2.2.3.min.js'></script>
    <script type='text/javascript' src='/js/bootstrap.min.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>昆吾是古代宝剑名，周穆王伐昆戎，西戎献昆吾之剑。切玉如泥。相当于“鹿卢”“太阿”“属缕”。</p>
  </body>
</html>


